@import url(/sass/header.scss);
@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeueBoldCondensed.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeueCyr-Roman.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeueBoldCondensed.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeueBlackCondensed.ttf) format("ttf");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Helvetica";
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-image: url(/img/header-img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header__top {
  border-bottom: 2px solid #424242;
  margin-bottom: 80px;
}

.header .header__section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__section-wrapper .header__section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}

.header .header__section-wrapper .header__section-list .header__section-link {
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  line-height: 90px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.header .header__section-wrapper .header__section-list .header__section-link:hover {
  color: #34c759;
}

.header .hero__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 400px;
}

.header .hero__section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header .hero__section-title {
  width: 100%;
  max-width: 1000px;
  font-size: 72px;
  font-weight: 300;
  line-height: 60px;
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 7px;
  line-height: 85px;
  text-align: center;
  margin-bottom: 16px;
}

.header .hero__section-title .hero__title-span {
  font-weight: 700;
}

.header .hero__section-desc {
  width: 100%;
  max-width: 595px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-align: center;
  color: #ffffff;
  opacity: 70%;
  margin-bottom: 40px;
}

.header .hero__section-btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  color: #1a1a1a;
  background-color: #34c759;
  padding: 25px 58px;
  border-radius: 43px;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  margin-bottom: 70px;
}

.header .hero__section-btn:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 24px 57px;
}

.header .hero__section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 905px;
}

.header .hero__section .hero__time-icon {
  width: 19px;
  height: 19px;
  margin-bottom: 16px;
}

.header .hero__section .hero__time-text {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.header .hero__section .hero__time-hour {
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: #ffffff;
  opacity: 50%;
}
/*# sourceMappingURL=main.css.map */