@import url(/sass/header.scss);

@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeueBoldCondensed.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeueCyr-Roman.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeueBoldCondensed.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeueBlackCondensed.ttf) format("ttf");
  font-weight: 900;
  font-style: normal;
}

$green: #34c759;
$white: #ffffff;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica";
  font-weight: 400;
  background-color: #191919;
}

.container {
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

// !HEADER STYLE STARTED
.header {
  background-image: url(/img/header-img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &__top {
    border-bottom: 2px solid #424242;
    margin-bottom: 80px;
  }

  .header__section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__section-list {
      display: flex;
      justify-content: space-between;
      width: 300px;

      .header__section-link {
        font-weight: 700;
        color: $white;
        font-size: 14px;
        line-height: 90px;
        transition: 0.1s;

        &:hover {
          color: $green;
        }
      }
    }
  }

  .hero__section {
    display: flex;
    align-items: center;
    padding-bottom: 400px;

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &-title {
      width: 100%;
      max-width: 1000px;
      font-size: 72px;
      font-weight: 300;
      line-height: 60px;
      color: $white;
      text-transform: capitalize;
      letter-spacing: 7px;
      line-height: 85px;
      text-align: center;
      margin-bottom: 16px;

      .hero__title-span {
        font-weight: 700;
      }
    }

    &-desc {
      width: 100%;
      max-width: 595px;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.2px;
      text-align: center;
      color: $white;
      opacity: 70%;
      margin-bottom: 40px;
    }

    &-btn {
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 1px;
      color: #1a1a1a;
      background-color: $green;
      padding: 25px 58px;
      border-radius: 43px;
      transition: color 0.1s;
      margin-bottom: 70px;

      &:hover {
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
        padding: 24px 57px;
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 905px;
    }

    .hero__time {
      &-icon {
        width: 19px;
        height: 19px;
        margin-bottom: 16px;
      }

      &-text {
        font-size: 16px;
        font-weight: 400;
        color: $white;
      }

      &-hour {
        font-size: 14px;
        font-weight: 400;
        line-height: 40px;
        color: $white;
        opacity: 50%;
      }
    }
  }
}
// !HEADER STYLE FINISHED

// MAIN STYLE STARTED

// *ABOUT STYLE STARTED
.about__section {
  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #252525;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px #0000001a;
    background-image: url(/img/about-img/about-bg.png);
    background-repeat: no-repeat;
    background-position: calc(50% - 1px) calc(50% - 235px);
    margin-top: -13rem;
    margin-bottom: 90px;
    padding-bottom: 90px;
  }

  &-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.2em;
    color: #d9d9d9;
    margin-bottom: 60px;
    padding-top: 105px;
  }

  &-desc {
    width: 734px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #a6a6a6;
    margin-bottom: 90px;
  }
}
// *ABOUT STYLE FINISHED

// *WORK STYLE STARTED
// *WORK STYLE FINISHED

// *DISHES STYLE STARTED
// *DISHES STYLE FINISHED

// *CHEFS STYLE STARTED
// *CHEFS STYLE FINISHED

// *RECIPES STYLE STARTED
// *RECIPES STYLE FINISHED

// *SOCIAL STYLE STARTED
// *SOCIAL STYLE FINISHED

// MAIN STYLE FINISHED
