@import url(/sass/header.scss);
@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeueBoldCondensed.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeueCyr-Roman.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeueBoldCondensed.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeueBlackCondensed.ttf) format("ttf");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Helvetica";
  font-weight: 400;
  background-color: #191919;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-image: url(/img/header-img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header__top {
  border-bottom: 2px solid #424242;
  margin-bottom: 80px;
}

.header .header__section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__section-wrapper .header__section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}

.header .header__section-wrapper .header__section-list .header__section-link {
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  line-height: 90px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.header .header__section-wrapper .header__section-list .header__section-link:hover {
  color: #34c759;
}

.header .hero__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 400px;
}

.header .hero__section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header .hero__section-title {
  width: 100%;
  max-width: 1000px;
  font-size: 72px;
  font-weight: 300;
  line-height: 60px;
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 7px;
  line-height: 85px;
  text-align: center;
  margin-bottom: 16px;
}

.header .hero__section-title .hero__title-span {
  font-weight: 700;
}

.header .hero__section-desc {
  width: 100%;
  max-width: 595px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-align: center;
  color: #ffffff;
  opacity: 70%;
  margin-bottom: 40px;
}

.header .hero__section-btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  color: #1a1a1a;
  background-color: #34c759;
  padding: 25px 58px;
  border-radius: 43px;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  margin-bottom: 70px;
}

.header .hero__section-btn:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 24px 57px;
}

.header .hero__section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 905px;
}

.header .hero__section .hero__time-icon {
  width: 19px;
  height: 19px;
  margin-bottom: 16px;
}

.header .hero__section .hero__time-text {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.header .hero__section .hero__time-hour {
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: #ffffff;
  opacity: 50%;
}

.about__section-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #252525;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 5px 0px #0000001a;
          box-shadow: 0px 2px 5px 0px #0000001a;
  background-image: url(/img/about-img/about-bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 1px) calc(50% - 235px);
  margin-top: -12.5rem;
  margin-bottom: 90px;
  padding-bottom: 90px;
}

.about__section-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0.2em;
  color: #d9d9d9;
  margin-bottom: 60px;
  padding-top: 105px;
}

.about__section-desc {
  width: 734px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #a6a6a6;
  margin-bottom: 90px;
}

.about__section .about__box-img:nth-child(1) {
  margin-right: 34px;
}

.work__section-wrapper {
  text-align: center;
  margin-bottom: 90px;
  background-image: url(/img/work-img/work-bg.png);
  background-repeat: no-repeat;
  background-position: center calc(50% - 135px);
}

.work__section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #d9d9d9;
  margin-bottom: 60px;
}

.work__section-title::after {
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #34c759;
  margin-top: 28px;
}

.work__section-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}

.work__section-card {
  background-color: #252525;
  -webkit-box-shadow: 0px 2px 5px 0px #0000001a;
          box-shadow: 0px 2px 5px 0px #0000001a;
  text-align: left;
  padding: 24px;
  border-radius: 6px;
  cursor: pointer;
}

.work__section-card:hover {
  background-color: #34c759;
}

.work__section-card:hover .work__card-title {
  color: #191919;
}

.work__section-card:hover .work__card-title::after {
  background-color: #191919;
}

.work__section-card:hover .work__card-desc {
  color: #191919;
}

.work__section-card .work__card-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.275px;
  color: #ffffff;
  text-transform: capitalize;
}

.work__section-card .work__card-title::after {
  display: block;
  content: "";
  width: 56px;
  height: 2px;
  background-color: #34c759;
  margin-top: 15px;
  margin-bottom: 24px;
}

.work__section-card .work__card-desc {
  width: 100%;
  max-width: 200px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.162px;
  color: #ffffff80;
}

.dishes__section-wrapper {
  text-align: center;
  background-image: url(/img/dishes-img/dishes-bg.png);
  background-repeat: no-repeat;
  background-position: center calc(50% - 580px);
  margin-bottom: 120px;
}

.dishes__section-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 0.2em;
  color: #d9d9d9;
  margin-bottom: 90px;
}

.dishes__section-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dishes__section-card {
  width: 100%;
  max-width: 350px;
  border-radius: 6px;
  background-color: #252525;
  text-align: left;
  overflow: hidden;
  margin-bottom: 30px;
}

.dishes__section .dishes__card-text {
  padding: 30px;
}

.dishes__section .dishes__card-text .dishes__card-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 30px;
  color: #d9d9d9;
}

.dishes__section .dishes__card-text .dishes__card-subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.15px;
  color: #a4a8b2;
  margin-bottom: 20px;
}

.dishes__section .dishes__card-text .dishes__card-desc {
  width: 100%;
  max-width: 290px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.16px;
  color: #85878c;
  margin-bottom: 20px;
}

.dishes__section .dishes__card-text .dishes__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dishes__section .dishes__card-text .dishes__card-content .dishes__card-star {
  margin-right: 11px;
  cursor: pointer;
}

.dishes__section .dishes__card-text .dishes__card-content .dishes__card-amount {
  font-size: 12px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: 1.5px;
  color: #b3b3b3;
  margin-right: 43px;
}

.dishes__section .dishes__card-text .dishes__card-content .dishes__card-btn {
  font-size: 10px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0.2em;
  color: #ffffff80;
  border: 2px solid #303030;
  padding: 0 32px;
  border-radius: 30px;
}

.dishes__section .dishes__card-text .dishes__card-content .dishes__card-btn:hover {
  color: #252525;
  background-color: #34c759;
}

.chefs__section-wrapper {
  text-align: center;
  background-image: url(/img/chefs-img/shefs-bg.png);
  background-repeat: no-repeat;
  background-position: center calc(50% - 105px);
  margin-bottom: 120px;
}

.chefs__section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 0.2em;
  color: #d9d9d9;
}

.chefs__section-title::after {
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #34c759;
  margin-top: 28px;
  margin-bottom: 38px;
}

.chefs__section-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}

.chefs__section-box .chefs__section-card {
  text-align: left;
}

.chefs__section-box .chefs__card-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.chefs__section-box .chefs__card-avatar {
  margin-right: 24px;
  border-radius: 50%;
}

.chefs__section-box .chefs__card-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.23px;
  color: #ffffff;
  margin-bottom: 6px;
}

.chefs__section-box .chefs__card-profession {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.15px;
  color: #ffffff80;
}

.chefs__section-box .chefs__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
}

.recipes__section {
  background-image: url(/img/recipes-img/recipes-bg.png);
  background-repeat: no-repeat;
  background-position: center calc(50% - 310px);
  margin-bottom: 90px;
}

.recipes__section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipes__section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 90px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #d9d9d9;
  margin-bottom: 60px;
}

.recipes__section .recipes__section-title::after {
  display: inline-block;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #34c759;
  margin-top: 28px;
}

.recipes__section-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 510px;
  text-align: center;
  background-image: url(/img/recipes-img/recipe-start-bg.jpg);
  background-repeat: no-repeat;
  padding: 60px 65px;
  border-radius: 6px;
  overflow: hidden;
}

.recipes__section-start .recipes__start-btn {
  display: inline-block;
  font-size: 10px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #0000005f;
  padding: 2px 16px;
  border-radius: 4px;
  margin-bottom: 65px;
}

.recipes__section-start .recipes__start-btn:hover {
  background-color: #000;
}

.recipes__section-start .recipes__start-data {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 25px;
}

.recipes__section-start .recipes__start-title {
  width: 100%;
  max-width: 400px;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 45px;
}

.recipes__section-start .recipes__start-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 60px;
}

.recipes__section-start .recipes__start-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 140px;
}

.recipes__section-start .recipes__start-content i {
  font-size: 24px;
  color: #ffffff;
  margin-right: 16px;
}

.recipes__section-start .recipes__start-content span {
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.recipes__section-start .recipes__start-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipes__section-start .recipes__start-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipes__section-end .recipes__end-card {
  background-color: #252525;
  -webkit-box-shadow: 0px 2px 5px 0px #0000001a;
          box-shadow: 0px 2px 5px 0px #0000001a;
  border-radius: 6px;
  margin-bottom: 30px;
  padding: 30px 30px 25px 30px;
  cursor: pointer;
}

.recipes__section-end .recipes__end-card:nth-child(2) {
  background-image: url(/img/recipes-img/recipes-card-bg.jpg);
}

.recipes__section-end .recipes__end-card .recipes__card-desc {
  width: 100%;
  max-width: 480px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 10px;
}

.recipes__section-end .recipes__end-card .recipes__card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipes__section-end .recipes__end-card .recipes__footer-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recipes__section-end .recipes__end-card .recipes__footer-start .recipes__footer-btn {
  font-size: 10px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #0000005c;
  margin-right: 15px;
  padding: 0 8px;
}

.recipes__section-end .recipes__end-card .recipes__footer-start .recipes__footer-btn:hover {
  background-color: #000;
}

.recipes__section-end .recipes__end-card .recipes__footer-start .recipes__footer-data {
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  color: #b3b3b3;
}

.recipes__section-end .recipes__end-card .recipes__footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recipes__section-end .recipes__end-card .recipes__footer-view {
  margin-right: 26px;
}

.recipes__section-end .recipes__end-card .recipes__footer-view,
.recipes__section-end .recipes__end-card .recipes__footer-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 140px;
}

.recipes__section-end .recipes__end-card .recipes__footer-view i,
.recipes__section-end .recipes__end-card .recipes__footer-chat i {
  font-size: 24px;
  color: #ffffff;
  margin-right: 16px;
}

.recipes__section-end .recipes__end-card .recipes__footer-view span,
.recipes__section-end .recipes__end-card .recipes__footer-chat span {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}

.social__section .social__section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 0.2em;
  color: #d9d9d9;
  text-align: center;
  margin-bottom: 60px;
}

.social__section .social__section-title::after {
  display: inline-block;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #34c759;
  margin-top: 28px;
}

.social__section .social__section-wrapper {
  background-image: url(/img/social-img/social-title-bg.png);
  background-repeat: no-repeat;
  background-position: center calc(50% - 210px);
  margin-bottom: 120px;
}

.social__section .social__section-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__section .social__section-card {
  background-color: #252525;
  border-radius: 6px;
}

.social__section .social__section-card:nth-child(2) .social__card-content {
  padding: 0;
}

.social__section .social__section-card:nth-child(2) .social__card-content img {
  border-bottom-left-radius: 6px;
}

.social__section .social__section-card .social__card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  border-bottom: 2px solid #303030;
}

.social__section .social__section-card .social__card-top .social__top-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__section .social__section-card .social__card-top .social__top-start i {
  font-size: 24px;
  color: #737373;
  border: 2px solid #303030;
  border-radius: 50%;
  margin-right: 20px;
  padding: 7.87px;
  cursor: pointer;
}

.social__section .social__section-card .social__card-top .social__top-start i:hover {
  color: #34c759;
  border: 2px solid #34c759;
}

.social__section .social__section-card .social__card-top .social__top-start .social__start-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #bfbfbf;
}

.social__section .social__section-card .social__card-top .social__top-btn {
  font-size: 10px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0.2em;
  color: #737373;
  padding: 18px;
  text-transform: uppercase;
  padding: 0 18px;
  border: 2px solid #303030;
  border-radius: 30px;
}

.social__section .social__section-card .social__card-top .social__top-btn:hover {
  color: #252525;
  background-color: #34c759;
}

.social__section .social__section-card .social__card-content {
  padding: 20px 40px 20px 30px;
}

.social__section .social__section-card .social__card-content .social__card-data {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #737373;
  margin-bottom: 10px;
}

.social__section .social__section-card .social__card-content .social__card-desc {
  width: 100%;
  max-width: 280px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffffb2;
  margin-bottom: 10px;
}

.social__section .social__section-card .social__card-content .social__card-user {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #34c759;
}
/*# sourceMappingURL=main.css.map */